.btn-checkbox
  &.q-btn--flat
    min-width 140px !important
    height 36px !important
    color $black-0 !important
    & q-btn__wrapper
      padding: $button-padding !important
      min-height: 2.572em !important
