---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: $CI_PROJECT_NAME-$CI_ENVIRONMENT_SLUG
  namespace: fdev
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: $CI_PROJECT_NAME-$CI_ENVIRONMENT_SLUG
    spec:
      imagePullSecrets:
        - name: docker-registry-secret
      containers:
        - name: $CI_PROJECT_NAME-$CI_ENVIRONMENT_SLUG
          image: $CI_REGISTRY_IMAGE:$CI_PIPELINE_ID
          env:
            - name: CI_PROJECT_NAME
              value: $CI_PROJECT_NAME
            - name: CI_ENVIRONMENT_SLUG
              value: $CI_ENVIRONMENT_SLUG
            - name: SW_AGENT_NAME
              value: $CI_PROJECT_NAME-$CI_ENVIRONMENT_SLUG
            - name: SW_AGENT_NAMESPACE
              value: $CI_ENVIRONMENT_SLUG
            - name: SW_MONGODB_TRACE_PARAM
              value: "true"
            - name: SW_AGENT_COLLECTOR_BACKEND_SERVICES
              value:xxx:11800,xxx:11800,xxx:11800
            - name: SW_AGENT_TRACE_IGNORE_PATH
              value: /finterface/actuator/*
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: log
              mountPath: /fdev/log
            - name: finterface
              mountPath: /fdev/finterface
            - name: params-sit
              mountPath: /fdev/params_sit
            - name: params-uat
              mountPath: /fdev/params_uat
            - name: params-rel
              mountPath: /fdev/params_rel
            - name: skywalking
              mountPath: /usr/skywalking/agent
          livenessProbe:
            httpGet:
              path: /finterface/actuator/info
              port: 8080
              httpHeaders:
                - name: source
                  value: back
            initialDelaySeconds: 120
            periodSeconds: 60
            timeoutSeconds: 10
          resources:
            limits:
              cpu: 2
              memory: 4Gi
            requests:
              cpu: 0
              memory: 0
      volumes:
        - name: log
          hostPath:
            path: /home/ebank/spdb/fdev/log/finterface/$CI_ENVIRONMENT_SLUG
        - name: finterface
          hostPath:
            path: /home/ebank/spdb/fdev/finterface/$CI_ENVIRONMENT_SLUG
        - name: params-sit
          hostPath:
            path: /ebank/spdb/params_sit/dynamicconfig/syncconfig
        - name: params-uat
          hostPath:
            path: /ebank/spdb/params_uat/dynamicconfig/syncconfig
        - name: params-rel
          hostPath:
            path: /ebank/spdb/params_rel/dynamicconfig/syncconfig
        - name: skywalking
          hostPath:
            path: /home/ebank/spdb/fdev/skywalking/agent

---
apiVersion: v1
kind: Service
metadata:
  name: $CI_PROJECT_NAME-$CI_ENVIRONMENT_SLUG-svc
  namespace: fdev
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: $CI_PROJECT_NAME-$CI_ENVIRONMENT_SLUG
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  name: $CI_PROJECT_NAME-$CI_ENVIRONMENT_SLUG-ingress
  namespace: fdev
spec:
  rules:
    - host: $CI_PROJECT_NAME.$CI_ENVIRONMENT_SLUG.minikube
      http:
        paths:
          - backend:
              serviceName: $CI_PROJECT_NAME-$CI_ENVIRONMENT_SLUG-svc
              servicePort: 8080
            path: /
