.fdev-gstree
  &__icon
    margin-right 12px

  &__separator
    min-width: 8px !important

  &__body
    .q-checkbox__inner
      margin 0 8px 0 0 !important
      font-size 16px
      .q-checkbox__bg
        top 0
        left 0
        width 100%
        height 100%
    .q-checkbox__label
      line-height 16px
    