a
  text-decoration none;
  transition color 0.3s;
  color #0663be
  &:hover
    cursor pointer;
    color #4386ca

.link
  text-decoration none;
  transition color 0.3s;
  color #0663be
  &:hover
    cursor pointer;
    color #4386ca

/deep/.no-data-wrap
  padding-top 32px
  .no-data
    margin-top 4px
    font-size 12px
    height 28px
    line-height 28px
    color #999
    text-align center
.icon-size-search
  width 28px
  height 28px
  margin-bottom 0px
.icon-size-md
  width 24px
  height 24px
  margin-bottom 0px
.icon-size-ld
  width 32px
  height 32px
  margin-bottom 0px
.icon-padding
  padding 5px
.confirm
  >>> .q-checkbox__bg
    width 16px
    height 16px
    top 0
    bottom 0
    left 0
    right 0
    margin auto
