<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plan.dao.PlanListMapper">
    <resultMap id="BaseResultMap" type="com.plan.datamodel.PlanList">
        <id column="plan_id" jdbcType="INTEGER" property="planId"/>
        <result column="work_no" jdbcType="VARCHAR" property="workNo"/>
        <result column="plan_name" jdbcType="VARCHAR" property="planName"/>
        <result column="plan_start_date" jdbcType="DATE" property="planStartDate"/>
        <result column="plan_end_date" jdbcType="DATE" property="planEndDate"/>
        <result column="device_info" jdbcType="VARCHAR" property="deviceInfo"/>
        <result column="field2" jdbcType="VARCHAR" property="field2"/>
        <result column="field3" jdbcType="VARCHAR" property="field3"/>
        <result column="field4" jdbcType="VARCHAR" property="field4"/>
        <result column="field5" jdbcType="VARCHAR" property="field5"/>
    </resultMap>

    <sql id = "PlanList_Column_List" >
        plan_id,
        work_no,
        plan_name,
        plan_start_date,
        plan_end_date,
        device_info,
        field2,
        field3,
        field4,
        field5,
        value
    </sql>

    <delete id="deleteByPlanId" parameterType="java.lang.Integer">
        delete from plan_list
        where plan_id = #{planId}
    </delete>
    <insert id="insert" parameterType="com.plan.datamodel.PlanList">
        insert into plan_list (plan_id, work_no, plan_name,
        plan_start_date, plan_end_date, device_info,
        field2, field3, field4,
        field5)
        values (#{planId,jdbcType=INTEGER}, #{workNo,jdbcType=VARCHAR}, #{planName,jdbcType=VARCHAR},
        #{planStartDate,jdbcType=DATE}, #{planEndDate,jdbcType=DATE}, #{deviceInfo,jdbcType=VARCHAR},
        #{field2,jdbcType=VARCHAR}, #{field3,jdbcType=VARCHAR}, #{field4,jdbcType=VARCHAR},
        #{field5,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.plan.datamodel.PlanList">
        update plan_list
        set work_no = #{workNo,jdbcType=VARCHAR},
        plan_name = #{planName,jdbcType=VARCHAR},
        plan_start_date = #{planStartDate,jdbcType=DATE},
        plan_end_date = #{planEndDate,jdbcType=DATE},
        device_info = #{deviceInfo,jdbcType=VARCHAR},
        field2 = #{field2,jdbcType=VARCHAR},
        field3 = #{field3,jdbcType=VARCHAR},
        field4 = #{field4,jdbcType=VARCHAR},
        field5 = #{field5,jdbcType=VARCHAR}
        where plan_id = #{planId,jdbcType=INTEGER}
    </update>
    <select id="selectByPlanId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select plan_id, work_no, plan_name, plan_start_date, plan_end_date, device_info, field2,
        field3, field4, field5
        from plan_list
        where plan_id = #{planId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select <include refid="PlanList_Column_List" />
        from plan_list
    </select>
    <!-- 查询符合条件的总数-->
    <select id="selectByWorkNoByPlanNameCount" parameterType="java.lang.String" resultType="INTEGER">
        SELECT COUNT(1)
        FROM plan_list
        WHERE 1=1
        <if test="workNo != null">
            AND work_no = #{workNo}
        </if>
        <if test="planName !=null">
            AND
            plan_name = #{planName}
        </if>

    </select>
    <!-- 根据工单编号查询当前工单下的计划-->
    <select id="queryByworkNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select plan_id, work_no, plan_name, plan_start_date, plan_end_date, device_info, field2,
        field3, field4, field5
        from plan_list
        where work_no = #{workNo}
    </select>
    
        <!-- 根据工单编号查询当前工单下的计划-->
    <select id="isTestcaseAddIssue" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT 
        RESULT_STATUS 
        FROM FTMS_PLAN_RESULT 
        where ID = #{planlist_testcase_id};
    </select>
</mapper>