.upload
  width 320px
  // max-height 500px
  .upload-header
    height 53px
    box-sizing border-box
    p
      margin 0
      font-size 12px
    .header-font
      font-weight 700
      font-size 14px
  .upload-body
    .file-wrapper
      min-height 60px
      .btn-group
        margin 0
        box-shadow none
        border-radius 5px
      .icon-drag
        border 1px dashed rgb(217, 217, 217)
        margin-bottom 8px
      .icon
        display block
        margin 0 auto
        padding 6px 0
        line-height 1
        // height 44px
      .file-item:hover
        background #eee
      .file-item
        font-size 14px
        line-height 1.8
        color rgb(96, 98, 102)
        padding 0 5px
        .file
          display inline-block
          width calc(100% - 14px)
          overflow hidden
          text-overflow ellipsis
          white-space: nowrap;
          vertical-align: middle;
  .upload-footer
    height 54px
    box-sizing border-box
      